.product {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product .product__content {
  display: flex;
  flex-wrap: nowrap;
}

.product .product__list {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 1rem;
}
