.modal_title{
    text-align: center;
}

.email_phone_button_wrapper{
    display: flex;
    flex-direction: row;
    
}

.email_phone_button_wrapper button{
    min-height: 10px;
    min-width: 100px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--md-ref-palette-neutral-variant50);
    font-style: normal;
    background-color: #F1EFE7;
    color: var(--md-ref-palette-neutral-variant30);
    text-decoration: none;
    border: var(--md-ref-palette-neutral-variant30);
    &:hover {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: #F1EFE7;
    border: var(--md-ref-palette-neutral-variant30);
    color: var(--md-ref-palette-neutral-variant30) ;
    }

    span{
    white-space: nowrap;
    }
}


section.get_email_popUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--md-sys-color-on-primary-light);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 60px;
    border-radius: 12px;
    max-width: 626px;
    max-height: 324px;

    .return_button{
        position: absolute;
        top: 24px;
        left: 24px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: 0.3s;
    }
    .close_button{
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: 0.3s;
    }
    .icon_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        position: absolute;
        top: 10px;

        img{
            width: 100%;
            height: 100%;
            max-width: 52px;
            max-height: 52px;
            margin: 12px;
            padding: 12px 21px;
        }
    }

    h2 {
        color: black;
        font-size: 22px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 28px;
        word-wrap: break-word;
        width: 100%;
        height: 100%;
        text-align: center;
        max-width: 506px;
        max-height: 52px;
        font-size: 24px;
        margin: 12px;
        padding: 12px 21px;
    }

    & >div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 506px;
        max-height: 104px;

        button {
            color: #F1EFE7;
            font-size: 14px;
            font-family: Roboto;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.10px;
            word-wrap: break-word;
            width: 100%;
            height: 100%;
            max-width: 109px;
            max-height: 40px;
            border-radius: 4px;
            background-color: var(--md-sys-color-primary-light);
            font-size: 16px;
            font-weight: 500;
            padding: 10px 24px;
            cursor: pointer;
            transition: 0.3s;
            border: none;
        }

        button:hover {
            background-color: var(--md-sys-color-primary-light);
        }
    }


    form{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px;
        width: 100%;
        height: 100%;
        max-width: 506px;
        max-height: 104px;



        .email_input{
            width: 100%;
            height: 100%;
            border-radius: 8px;
            border-color: var(--md-sys-color-primary-light);
            outline: var(--md-sys-color-primary-light);
            margin: 8px;
            max-width: 458px;
            max-height: 40px;
            border-radius: 4px;
        }
    }
    
}