footer {
  padding-block: 3rem 5rem;
  height: auto;
  flex-shrink: 0;
  // background-color: black;
  width: 100%;
  height: auto;
  min-height: 400px;

  h3{
    min-height: 70px;
    margin: 0px 0px;
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
    li{
      margin-bottom: 10px;
    }

  }
  .email_input{
    margin-right: 5px;
  }
  .input_warrper{
    max-height: 12px;
  }

}



.footer__container{
  display: flex;
  height: 900px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: aqua;

}


.footer__title {
  font-weight: bold;
  max-height: 200px;
  min-height: 70px;
  display: flex;
  align-items: center;
  margin: 0px 0px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}






// .confirm_button:hover{
//   // background-color: var(--md-source);
// }

@media (max-width: 576px) {
  footer {
    padding-bottom: 3rem;

    
  }
}

@media (max-width: 744px) {
  // footer{

    
  // }

 
  
}