.auth_part{

    width: 100%;
    


    #drop_down_btn{
        width: 50px;
        height: 50px;
        border: 1px solid #785B5B;
        border-radius: 50%;
        padding: 10px;
        background-color: rgba($color: #000000, $alpha: 0);
    }


    .dropdown-toggle::after{
        opacity: 0;
    }

    .cart-icon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 8px;
        color: #000000;
    }

    .dropdown-item{
        text-align: end;
        margin-bottom: 8px;
    }

    .dropdown-item:active{
        background-color: red;
    }
}

.user_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .user_name{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

.log_out_btn{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    
    background-color: var(--md-source);
    .log{
        color: white;
    }
    .log:hover{
        background-color: rgba($color: #000000, $alpha: 0);
    }
}



.dropdown-menu{
    padding: 0px 0px;
    padding-top: 6px;

    .dropdown-divider{
        margin-bottom: 0px;
    }
}