.my-nav{
    // color: #F1EFE7;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    white-space: nowrap;
    text-transform: uppercase;
    
    // word-wrap: break-word
}
.my-nav .nav-link:hover {
    background-color: #CCCCCC;
    cursor: pointer;
  }

.my-nav .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}
.my-nav .nav-link a {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    white-space: nowrap;
}



.my-nav.navbar-nav > .nav-link.active{
    color: white;
    /* background-color: var(--md-sys-color-primary); */
    background-color: var(--md-sys-color-primary-light);
}

.dropdown-menu .dropdown-item:hover {
    background-color: #CCCCCC;

}


.dropdown-toggle.nav-link{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 744px) {
    .main_nav{
        display: none;
    }
  
}